In [2]:
l = []

In [3]:
l = [1,2,3]

In [4]:
l

[1, 2, 3]

In [5]:
print(l[0])

1

In [6]:
l[2]

3

In [8]:
print(l[1:3])

[2, 3]

In [9]:
print(l[:-1])

[1, 2]

In [13]:
print("Tamanho da lista: %d" % len(l))

Tamanho da lista: 3

In [14]:
z = []

In [16]:
# z[0] = 'a'
z.append('a')

In [17]:
z

['a']

In [18]:
z.append('b')

In [19]:
z

['a', 'b']

In [20]:
z[0]

'a'

In [21]:
z[0] = 'c'

In [22]:
z

['c', 'b']

In [23]:
y = [1, 'a', 3.4]

In [24]:
y

[1, 'a', 3.4]

In [25]:
cliente1 = ['lúcio', 50.400, 2]

In [26]:
cliente2 = ['joao', 649.00, 5]

In [27]:
c = []

In [28]:
c.append(cliente1)

In [29]:
c.append(cliente2)

In [30]:
c

[['lúcio', 50.4, 2], ['joao', 649.0, 5]]

In [31]:
notas = [5, 7, 8, 9, 1]

In [35]:
i = 0
while i < len(notas):
    print(notas[i])
    i = i + 1

5
7
8
9
1

In [39]:
for i in notas:
    print(i)

5
7
8
9
1

In [40]:
y

[1, 'a', 3.4]

In [41]:
y[1] = ''

In [42]:
y

[1, '', 3.4]

In [43]:
y[1] = None

In [44]:
y

[1, None, 3.4]

In [45]:
del y[1]

In [46]:
y

[1, 3.4]

In [48]:
i = 0
while i < 10:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9

In [51]:
x = [1,2,3,4,5,6,7,8,9,10]
for i in x:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [59]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [64]:
a = []

In [66]:
a.append(1)

In [67]:
a

[1]

In [68]:
a[0]

1

In [69]:
del a

In [101]:
cliente1 = {"Nome": "Lúcio",
           "Salario": 50.500,
           "Filhos": 2,
           "Nomes_Filhos": ['Valentina','Miguel']}

In [84]:
cliente1

{'Filhos': 2, 'Nome': 'Lúcio', 'Salario': 50.5}

In [85]:
cliente1["Nome"]

'Lúcio'

In [103]:
clientes = []
clientes.append(cliente1)

In [89]:
clientes

[{'Filhos': 2, 'Nome': 'Lúcio', 'Salario': 50.5}]

In [104]:
cliente2 = {"Nome": "Joao",
           "Salario": 543,
           "Filhos": 6,
           "Nomes_Filhos": ['Ana', 'Maria', 'Carla', 'Bruna', 'Francisca', 'Serafina']}

In [105]:
clientes.append(cliente2)

In [106]:
clientes

[{'Filhos': 2,
  'Nome': 'Lúcio',
  'Nomes_Filhos': ['Valentina', 'Miguel'],
  'Salario': 50.5},
 {'Filhos': 6,
  'Nome': 'Joao',
  'Nomes_Filhos': ['Ana', 'Maria', 'Carla', 'Bruna', 'Francisca', 'Serafina'],
  'Salario': 543}]

In [107]:
clientes[0]

{'Filhos': 2,
 'Nome': 'Lúcio',
 'Nomes_Filhos': ['Valentina', 'Miguel'],
 'Salario': 50.5}

In [119]:
for x in clientes:
    print("Nome: %s" % x["Nome"])
    print("Salário: %.2f" % x["Salario"])
    print("Quantidade de filhos: %d" % x["Filhos"])
    print("Nome dos filhos:")
    for y in x["Nomes_Filhos"]:
        print("\t\t%s" % y)
    print("*"*30)

Nome: Lúcio
Salário: 50.50
Quantidade de filhos: 2
Nome dos filhos:
		Valentina
		Miguel
******************************
Nome: Joao
Salário: 543.00
Quantidade de filhos: 6
Nome dos filhos:
		Ana
		Maria
		Carla
		Bruna
		Francisca
		Serafina
******************************

In [120]:
menu = ["Ligar para o 190", "Chamar o 191", "Mandar um zap para o mano"]

In [126]:
menu.append("Lançar notas")

In [127]:
for indice,valor in enumerate(menu):
    print(indice,valor)

0 Ligar para o 190
1 Chamar o 191
2 Mandar um zap para o mano
3 Lançar notas